
* {
    margin: 0px auto;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #edf2f4;
}

#menu-h ul {
    list-style: none;
    padding: 0;
    background-color: #2b2d42;
}

#menu-h ul li {
    display: inline;
}

#menu-h ul li a {
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 20px;
    transition: background .2s; 
}

#menu-h ul li a:hover {
    background-color: #d90429;
}

.conteudo {
    width: 800px;
    padding: 10px;
    margin: 10px auto;
    
}

.conteudo p{
    font-size: 15pt;
    text-align: justify;
}

#email {
    text-align: center;
    margin: 10px;
    font-size: 15pt;
}



